@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  cursor: none;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

*::selection {
  background: yellowgreen;
  color:black;
}

html {
  /* font-size: 62.5%; */
  overflow-x: hidden;
}

html::-webkit-scrollbar{
  background-color: transparent;
  width: 5px;
}
html::-webkit-scrollbar-button{
  background-color: #0e2431;
}
html::-webkit-scrollbar-thumb{
  background-color: darkblue;
}
/* navbar starts */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.7rem 10%;
  height: 6.5rem;
  background-color: transparent;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  animation-name: comeFromTop;
  animation-duration: 1s;
}
section {
  min-height: 100vh;
  padding: 2rem 9%;

}

@keyframes comeFromTop {
  0%{
    margin-top: -500px;
  }
  100%{
    margin-top: 0px;
  }
}

.heading {
  font-size: 3.5rem;
  color: rgb(32, 32, 32);
  font-weight: 800;
  text-align: center;
}
.heading span {
  color: rgb(115, 3, 167);
}
header .logo {
  font-size: 1.9rem;
  font-weight: 800;
  text-decoration: none;
  color: #0e2431;
}
header .logo i {
  font-size: 2.2rem;
}
header .logo:hover {
  color: #fc8c05;
}
header .navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navbar li {
  margin-left: 2.5rem;
}
header .navbar ul li a {
  font-size: 1.57rem;
  color: #0e2431;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.04rem;
  transition: 0.2s;
}
header .navbar ul li a.active,
header .navbar ul li a:hover {
  color: #011aff;
  border-bottom: 0.2rem solid #011aff;
  padding: 0.5rem 0;
}
/* navbar ends */

/* hamburger icon starts*/
#menu {
  font-size: 3rem;
  cursor: pointer;
  color: rgb(24, 2, 63);
  display: none;
}
@media (max-width: 900px) {
  #menu {
    display: block;
    z-index: 1000;

  }
  header .navbar {
    display: none;
    position: fixed;
    top: 6.5rem;
    right: -25%;
    width: 75%;
    height: 100%;
    text-align: left;
    align-items: flex-start;

    
  }
  header .navbar ul {
    flex-flow: column;
    background-color: white;
    -webkit-backdrop-filter: blur(5px); /* Safari 6.0 - 9.0 */
    backdrop-filter: blur(5px);
    padding: 1rem;
  }
  header .navbar ul li {
    text-align: center;
    width: 100%;
    margin: 1rem 0;
    border-radius: 0.5rem;
    width: 26rem;
  }
  header .navbar ul li a {
    display: block;
    padding: 1rem;
    text-align: left;
    /* color: #fff; */
    font-size: 2rem;
  }
  header .navbar ul li a.active,
  header .navbar ul li a:hover {
    padding: 1rem;
    color: blue;
    border-radius: 0.5rem;
    border-bottom: none;
  }
  .fa-times {
    transform: rotate(180deg);
  }
  header .navbar.nav-toggle {
    right: 0;
  }
}
.logo_image{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}
.logo_image img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: rotation 2s 2 linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
/* hamburger icon ends */
.home {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
}
.home #particles-js {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.home .content {
  flex: 1 1 40rem;
  padding-top: 1rem;
  z-index: 1;
  animation-name: comeFromLeft;
  animation-duration: 2s;
}

/* Animation for Home */
@keyframes comeFromLeft {
  0%{
    margin-left: -1100px;
  }
  100%{
    margin-left: 0px;
  }
}

.home .image {
  flex: 1 1 40rem;
  z-index: 1;
  animation-name: comeFromRight;
  animation-duration: 2s;
}

@keyframes comeFromRight {
  0%{
    margin-left: 1300px;
  }
  100%{
    margin-left: 0px;
  }
}

.home .image img {
  width: 70%;
  margin-left: 6rem;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.home .image img:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.home .content h2 {
  font-size: 5rem;
  font-weight: 800;
  color: #002057;
}
.home .content h2 span {
  font-size: 5rem;
  font-weight: 800;
  color: #ff7b00;
}
.home .content p {
  font-size: 2.5rem;
  color: #000;
  font-weight: 600;
  padding: 1rem 0;
}
.home .content p span {
  font-size: 2.5rem;
  color: navy;
  font-weight: 800;
  padding: 1rem 0;
}
.buttons{
  display: flex;
  width: 60%;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.buttons .btn1{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;  
  height: 50px;
  border-radius: 10px;
  color: white;
  background-color:#0685da;
}
.buttons .btn1 i{
  margin-left: 10px;
}
.buttons .btn2{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;  
  height: 50px;
  border-radius: 10px;
  background-color: transparent;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: #000;
  border: 1px solid #0685da;
}
.buttons .btn2:hover{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;  
  height: 50px;
  border-radius: 10px;
  color: white;
  background-color:#0685da;
}
.buttons .btn1:hover{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;  
  height: 50px;
  border-radius: 10px;
  color: #000;
  background-color: transparent;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid #0685da;
}
.buttons .btn1 .fas{
  margin-right: -20px;
}
/* social icons start */
.socials {
  position: relative;
  margin-top: 3rem;
}
.socials .social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.socials .social-icons li {
  display: inline-block;
  margin-bottom: 14px;
  width: 45px;
}
.social-icons a {
  font-size: 2rem;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.github{
  color: black;
}
.twitter ,.facebook ,.linkedin{
  color: blue;
}
.instagram{
  color: red;
}
.snapchat{
  color: yellow;
}
.quora{
  color: rgb(148, 8, 8);
}
.socials ul li:hover a{
  animation: 1s 1s bubble infinite ease-in-out;

}



@keyframes bubble {
  0%  {height: 20px;}
  20% {height: -20px;}
  50% {transform: translateY(-50%);}
  95% {height: 20px;}
  100%{height: -20px;}
}

/* social icons end */

/* hero media queries starts*/
@media (max-width: 968px) {
  .home .image img{
    height: 350px;
    width: 320px;
    margin: auto;
  }
  .home .content{
    width: 100vw; 
    margin-top: 10vh;
  }
  .home .content h2 {
    font-size: 8vw;
    font-weight: 800;
    color: #002057;
  }
  .home .content h2 span {
    font-size: 8vw;
    font-weight: 800;
    color: #ff7b00;
  }
  .buttons .btn1{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;  
    height: 50px;
    border-radius: 10px;
    color: white;
    background-color:#0685da;
  }

  .buttons .btn2{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;  
    height: 50px;
    border-radius: 10px;
    color: #000;
    border: 1px solid #0685da;
  }
  .buttons .btn2:hover{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;  
    height: 50px;
    border-radius: 10px;
    color: white;
    background-color:#0685da;
  }
}
/* hero media queries ends*/
/* hero section end */

/* About Me Styling */
.aboutMe{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: justify;
  /* background-color: whitesmoke; */
  /* animation-name: comeFromLeft; */
  /* animation-duration: 4s; */
}
.about_heading{
  text-align: center;
  font-size: 3.5rem;
}
.about-container{
  font-size: 1.5rem;
}
.Me{
  color: #002057;
}
.about-container1{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.myImage img{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  width: 300px;
  height: 400px;
  border-radius: 10px;
  
}
.myImage img:hover{
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}
.about_details{
  width: 30%;
  /* background-color: red; */
}
.about_details p{
  font-size: 20px;
}
.about_details_name{
  color: #ff7b00;
}
@media screen and (max-width:968px) {
/* About Me Styling */
.aboutMe{
  margin-top: 60px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
}
.about-container{
  /* height: 10vh; */
  font-size: 1.5rem;
}
.Me{
  color: #002057;
}
.about-container1{
  width: 90vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: justify;
  margin: auto;
}
.myImage{
  /* background-color: red; */
}
.myImage img{
  width: 350px;
  height: 450px;
  border-radius: 10px;
  
}
.about_details{
  width: 100%;
  /* background-color: red; */
}
.about_details p{
  font-size: 18px;
}  
}


.cursor {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid black;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
}

.cursor2 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: black;
  opacity: .3;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width .3s, height .3s, opacity .3s;
}

.hover {
  background-color: rgb(0, 183, 255);
  opacity: 0.5;
}

.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: .5;
}

.skills{
  width: 100vw;
  height: 100vh;
}
.hide{
  visibility: hidden;
}
.goTotop{
  background-color: transparent;
  /* background-color: red; */
  position: fixed;
  margin-top: -1450px;
  margin-left: 1250px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #002057;
}
@media screen and (max-width:768px) {
  .goTotop{
    position: fixed;
    margin-top: -1600px;
    margin-left: 85vw;
    background-color: whitesmoke;
  }
}
.skill-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #0e2431;
  flex-direction: column;
  color: #fff;
}
.free-skill{
  width: 100vw;
  height: 10vh;
  background-color: #fff;
}
.skills{
  height: 90vh;
  font-size:20px;
  /* background-color: whitesmoke; */
  text-align: center;
}
.skills_container{
  width: 90vw;
  margin: auto;
  /* background-color: red; */
  display: grid;
  justify-content: space-evenly;
  align-content: center;
  grid-template-columns: repeat(6, 1.5fr);
  row-gap: 20px;
  column-gap: 20px;
  /* animation-name: comeFromRight; */
  /* animation-duration: 2s; */
}

.ball {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: relative;
  box-shadow: inset 0 0 25px rgba(224, 211, 211, 0.25);
  
}
.ball-text{
  animation: floating 1s 1s infinite ease-in-out;
}
@keyframes floating {
  from { transform: translate(0,  0px); }
  25%  { transform: translate(0, 15px); }
  50% {transform: translate(0, -15px); }
  to   { transform: translate(0, -0px); }    
}
.ball span{
  position: absolute;
  border-radius: 50%;
}
.ball span:nth-child(1){
  inset: 10px;
  border-left: 15px solid #0fb4ff;
  filter: blur(8px);
}
.ball span:nth-child(2){
  inset: 10px;
  border-right: 15px solid #ff4484;
  filter: blur(8px);
}
.ball span:nth-child(3){
  inset: 20px;
  border-top: 15px solid #ffeb3b;
  filter: blur(8px);
}
.ball span:nth-child(4){
  inset: 30px;
  border-bottom: 15px solid #ff4484;
  filter: blur(12px);
}
.ball span:nth-child(5){
  inset: 10px;
  border-bottom: 10px solid #fff;
  filter: blur(8px);
  transform: rotate(330deg);
}
.ball span:nth-child(6){
  filter: blur(1px);
}
.ball{
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-html5{
  font-size: 40px;
  color: orangered;
}
.fa-js{
  font-size: 40px;
  color: yellow;
}
.fa-css3{
  font-size: 40px;
  color: blue;
}
.fa-react{
  font-size: 40px;
  color: #0fb4ff;
}
.fa-node , .fa-node-js{
  font-size: 40px;
  color: green;
}
.fa-java{
  font-size: 40px;
  color: #ff7b00;
}
.fa-python{
  font-size: 40px;
  color: #ffeb3b;
}
.fa-golang{
  font-size: 40px;
  color:#002057;
}
.ball-text .fa-github,.fa-gitlab{
  
  color: #000;
}
.fa-bootstrap{
  font-size: 40px;
  color: #011aff;
}

@media screen and (max-width:900px) {
  .skills_container{
    width: 100vw;
    margin: auto;
    /* background-color: red; */
    display: grid;
    justify-content: space-evenly;
    align-content: center;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 20px;
  }
  .skill-container{
    margin-top:60px;
    height: 100vh;
    overflow-y: hidden;
    width: 100vw;
    display: flex;
    flex-direction: column;
  } 
  .ball {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: relative;
    box-shadow: inset 0 0 25px rgba(224, 211, 211, 0.25);
    
  }
  .ball-text{
    font-size: 12px;
  }
  .ball span:nth-child(6){
    filter: blur(0.8px);
  }
}